<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/offline">
<head>
    <title>Login | JF</title>
</head>
<body>
    <section layout:fragment="content">
        <form th:action="@{/login}" method="post">
            <div>
                <label> User Name : <input type="text" name="username" />
                </label>
            </div>
            <div>
                <label> Password: <input type="password" name="password" />
                </label>
            </div>
            <div>
                <input type="submit" value="Sign In" />
            </div>
            <div id="errorMessage" class="card-panel red lighten-2" th:if="${error}">
                <span class="card-title" th:text="${error}"></span>
            </div>
        </form>
    </section>
</body>
</html>