<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/online">
<head>
    <title>Index | JF</title>
</head>
<body>
    <section layout:fragment="content">
        Logged in as <span sec:authentication="name"></span>
        with authorities: <span sec:authentication="authorities"></span>
        <p th:text="${user.getId()}">topic</p>
        <p th:text="${user.getUsername()}">topic</p>
        <p th:text="${user.displayContentOfOptional()}">topic</p>
        <p th:text="${user.getPassword()}">topic</p>
        <p th:text="${user.getCreatedDate()}">topic</p>
    </section>
</body>
</html>