<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/online">
<!--/*@thymesVar id="user" type="com.plkpiotr.forum.entities.User"*/-->

<head>
    <title th:text="${user.getUsername() + ' | JF'}">Title of profile view</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col s12" style="padding-top: 3%;">
                    <blockquote class="flow-text left" th:text="${user.getUsername()} + |&apos; s profile|">Profile</blockquote>
                    <blockquote class="flow-text right" th:text="|Commitment: | + ${numberOfTopics + numberOfAnswers}">
                        Commitment
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item center">
                            Personal data
                        </li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.getUsername()}">Nick</span>
                            </span>Nick:
                        </li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.displayContentOfOptional()}">Introduction</span>
                            </span>Introduction:
                        </li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.displayParsedDate()}">Created date</span>
                            </span>Registered since:
                        </li>
                    </ul>
                </div>
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item center strong">
                            Activity
                        </li>
                        <li class="collection-item">
                            <a th:href="@{'/topics/user/' + ${user.getId()}}" style="display: block; color: #26a69a">
                                <span class="badge">
                                    <span th:text="${numberOfTopics}"></span>
                                </span>Topics:
                            </a>
                        </li>
                        <li class="collection-item">
                            <a th:href="@{'/answers/' + ${user.getId()}}" style="display: block; color: #26a69a">
                                <span class="badge">
                                    <span th:text="${numberOfAnswers}"></span>
                                </span>Answers:
                            </a>
                        </li>
                        <li class="collection-item">
                            <a th:href="@{'/answers/useful/' + ${user.getId()}}" style="display: block; color: #26a69a">
                                <span class="badge">
                                    <span th:text="${numberOfHelped}"></span>
                                </span>Helped:
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>