<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/online">
<head>
    <title>Topics | JF</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container">
            <div class="row" style="padding-top: 3%;">
                <blockquote class="flow-text left" th:text="${header}">Header</blockquote>
                <blockquote class="flow-text right" th:text="|Number of topics: | + ${topics.size()}">Number of topics</blockquote>
            </div>
            <div class="row">
                <table class="striped bordered centered">
                    <thead>
                    <tr>
                        <th>Answers</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Created</th>
                        <th>Enter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="topic : ${topics}">
                        <tr>
                            <td th:text="${answerRepository.countAnswerByTopic_Id(topic.getId())}">Number of answers</td>
                            <td th:text="${topic.getTitle()}">Topic's title</td>
                            <td th:text="${topic.getUser().getUsername()}">Topic's author</td>
                            <td th:text="${topic.displayParsedCreatedDate()}">Topic's created date</td>
                            <td>
                                <a th:href="@{'/topic/' + ${topic.getId()}}" style="display: block;">
                                    <i class="material-icons" style="color: #26a69a">arrow_forward</i>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>